.custom-navbar {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 12px 0;
  z-index: 999;
}

.logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.search-box {
  width: 300px;
  margin-right: 25px;
}

.search-input-wrapper {
  position: relative;
}

.search-input-wrapper input {
  width: 100%;
  border-radius: 30px;
  padding: 8px 15px 8px 40px;
  transition: 0.3s ease; 
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 18px;
}


.custom-navbar.scrolled .search-input-wrapper input {
  background: rgba(255, 255, 255, 0.12);
  border: none;
  color: #fff;
  backdrop-filter: blur(10px);
}

.custom-navbar.scrolled .search-input-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.custom-navbar.scrolled .search-icon {
  color: rgba(255, 255, 255, 0.8);
}

.custom-navbar.scrolled .search-input-wrapper input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 0 8px rgba(255, 255, 255, .3);
}
.custom-navbar:not(.scrolled) .search-input-wrapper input {
  background: #fff;
  border: 2px solid #ff9900;
  color: #333;
}

.custom-navbar:not(.scrolled) .search-input-wrapper input::placeholder {
  color: #777;
}

.custom-navbar:not(.scrolled) .search-icon {
  color: #ff9900;
}

@media (max-width: 992px) {
  .search-box {
    width: 100%;
    margin: 10px 0;
  }
}


.nav-link {
  color: #0d0d0dff !important;
  font-weight: 500;
  margin: 0 10px;
  transition: color .3s ease, transform .2s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #ffe08a !important;
  transform: translateY(-3px);
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.4);
}

.navbar-toggler-icon {
  filter: invert(1);
}
