.sidebar{
  background-color: #F5F5F5;
  width: 240px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.nav-link {
  color:#627391 !important;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s ease;
}
.nav-link:hover {
  background-color: #333;
  color : #FFFFFF !important
}

.nav-link.active {
  background-color: #E98E27;
  color: #152E45 !important;
}
