<div class="d-flex">
  <div class="sidebar p-3  min-vh-100 d-flex flex-column">
    <div class="sidebar-logo mb-4">
      <img src="assets/images/logo.png" class="img-fluid" style="width: 140px;" alt="Logo">
    </div>
    <ul class="nav flex-column h-100 flex-grow-1 mt-4">
      <li class="nav-item mb-2" routerLink="recipes">
        <a class="nav-link" >
          <i class="bi bi-kanban me-2"></i>
          Recipes</a>
      </li>
      <li class="nav-item mb-2" routerLink="users">
        <a class="nav-link" >
          <i class="bi bi-envelope-arrow-down-fill me-2"></i>
          Users</a>
      </li>
      <li class="nav-item mb-2 mt-auto ">
        <a class="nav-link">
          <i class="bi bi-box-arrow-right me-2"></i>
          Logout</a>
      </li>
    </ul>
  </div>
</div>
