<div class="home">
  <!-- banner section-->
  <div class="container-fluid p-0">
    <div class="img-section d-flex justify-content-center align-items-center p-0">
      <div class="paragraph">
        <p>Recipe - Your Ultimate Recipe Collection</p>
      </div>
    </div>
  </div>
  <!-- about section -->
  <div class="about d-flex justify-content-center align-items-center pt-5">
    <p class="text-center">
      <strong>Welcome to Recipe, your go-to destination for a wide range of mouth-watering recipes.</strong>
      <br>
      Whether you're a home cook, a food enthusiast, or a professional chef, discover and create culinary delights
      with our detailed recipe listings and cooking instructions.
    </p>
  </div>
  <div class="section-divider"></div>
  <!-- recipes filter section -->
  <div class="filters-section pt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" type="button"
              data-bs-toggle="dropdown">
              {{ selectedTag || 'Recipe Tag' }}
            </button>
            <ul class="dropdown-menu tags-dropdown dropdown-toggle w-100">
              <li *ngFor="let tag of tags">
                <a class="dropdown-item" (click)="onTagChange(tag)">
                  {{ tag }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="dropdown">
            <button class="btn  recipe-dropdown-btn dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
              {{ selectedMealType || 'Recipe Meal Type' }}
            </button>
            <ul class="dropdown-menu  tags-dropdown">
              <li *ngFor="let mealType of mealTypes">
                <a class="dropdown-item" (click)="onMealTypeChange(mealType)">
                  {{ mealType }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row pt-4 g-5">
        <div class="col-12 col-md-4" *ngFor="let recipe of selectedTag || selectedMealType ? filteredRecipes : recipes">
          <div class="card h-100 shadow-sm">
            <img [src]="recipe.image" class="card-img" [alt]="recipe.name">
            <div class="card-body d-flex flex-column">
              <div class="rating mb-2">
                {{ recipe.rating }} ★ | {{ recipe.reviewCount }} Reviews
              </div>
              <h5 class="card-title">{{ recipe.name }}</h5>
              <p class="card-text">{{ recipe.cuisine }} | {{ recipe.difficulty }} | {{ recipe.servings }} servings</p>
              <p class="card-text">Calories: {{ recipe.caloriesPerServing }}</p>
              <a [routerLink]="['/recipes', recipe.id]" class="btn  mt-auto text-uppercase">View
                Recipe</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 text-center">
        <button class="btn text-uppercase w-25" type="button" routerLink="/recipes">view all recipes</button>
      </div>
    </div>
  </div>
  <div class="section-divider"></div>
  <div class="blogs">
    <div class="container">
      <div class="row">
        <h1 class="text-center pb-5">Blogs</h1>
        <div class="col-12">
          <div class="card border-0 border-bottom" *ngIf="MainBlog">
            <img [src]="MainBlog.image" class="card-img-top">
            <div class="card-body text-center">
              <h5 class="card-title">{{MainBlog.title}}</h5>
              <span>{{MainBlog.date}} / {{MainBlog.author}}</span>
              <p class="pt-4">{{MainBlog.content}}</p>
              <button class="btn w-25 text-uppercase mt-4" type="button">Continue Reading</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6" *ngFor="let blog of blogs.slice(1) let isLast = last">
          <div class="card mt-5 border-0 border-bottom" [class.border-bottom]="!isLast">
            <div class="image-wrapper">
              <img [src]="blog.image" alt={{blog.title}} class="pb-4 rounded">
            </div>
            <div class="card-body pt-0">
              <h5 class="card-title">{{blog.title}}</h5>
              <span>{{blog.date}} / {{blog.author}}</span>
              <p class="card-text pt-4">{{blog.content}}</p>
              <button class="btn w-50 text-uppercase mt-4 " type="button">Continue Reading</button>
            </div>
          </div>
        </div>
        <div class="mt-4 text-center">
          <button class="btn text-uppercase w-25" type="button" routerLink="/blogs">view all blogs</button>
        </div>
      </div>
    </div>
    <div class="contact d-flex flex-column justify-content-center align-items-center text-center pt-5">
      <p>
        <strong>Join our community of food lovers and start your culinary journey today!
        </strong>
        <br>
        Follow us on social media for daily recipe inspiration.
      </p>
      <div class="social-icons mt-3 mb-4 d-flex justify-content-center flex-wrap">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-twitter-x"></i></a>
        <a href="#"><i class="bi bi-google"></i></a>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>