<div class="login-page d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow login-card p-4 ">
    <div class="login-logo mb-3 mt-3 text-center">
      <img src="assets/images/logo.png" class="img-fluid" style="width: 160px;" alt="Logo">
    </div>
    <div class="text-center mb-4">
      <h1 class="fw-semibold">Welcome Back</h1>
      <p>Sign in to your account</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-floating custom-float mb-4">
        <input type="text" name="username" formControlName="username" class="form-control no-bg no-border" id="username" placeholder="Username">
        <label for="username">Username</label>
      </div>
      <div class="form-floating custom-float mb-4">
        <input type="password" name="password" formControlName="password" class="form-control no-bg no-border" id="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <button class="btn text-center w-100"type="submit">SIGN IN</button>
    </form>
  </div>
</div>
