<div class="container mt-4 pb-4" *ngIf="recipe">
  <div class="row">
    <div class="col-12 w-25">
      <a routerLink="/recipes" class="btn btn-secondary mb-3">← Back</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pe-5">
      <img [src]="recipe.image" class="img-fluid rounded" alt="recipe.name">
    </div>
    <div class="col-md-6">
      <h2 class="fw-semibold">{{ recipe.name }}</h2>
      <p><strong>Cuisine:</strong> {{ recipe.cuisine }}</p>
      <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
      <p><strong>Servings:</strong> {{ recipe.servings }}</p>
      <p><strong>Prep Time: <span>................................................</span></strong> {{ recipe.prepTimeMinutes }} minutes</p>
      <p><strong>Cook Time:<span>................................................</span></strong> {{ recipe.cookTimeMinutes }} minutes</p>
      <p><strong>Calories per serving:<span>................................................</span></strong> {{ recipe.caloriesPerServing }}</p>
      <p><strong>Rating:<span>................................................</span></strong> {{ recipe.rating }} ({{ recipe.reviewCount }} reviews)</p>
      <h3>Ingredients</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>
      <h3>Instructions</h3>
      <ol>
        <li *ngFor="let step of recipe.instructions">{{ step }}</li>
      </ol>
      <h3>Tags</h3>
      <span *ngFor="let tag of recipe.tags" class="badge bg-secondary me-3 p-2">{{ tag }}</span>
    </div>
  </div>
</div>
<app-footer></app-footer>

