/*footer*/

.footer {
  background-color: #f9f9f9;
  font-size: 0.9rem;
  color: #666;
  text-align: center;
}

.footer p {
  padding: 20px 0;
  margin: 0;
}

.footer a {
  color: #ff9900;
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}
