<div class="blogs-page">
  <div class="container mt-4">
    <h2 class="mb-4">All Blogs</h2>
    <div class="row g-4">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let blog of blogs">
        <div class="card h-100 border-0 shadow-sm">
          <img [src]="blog.image" class="card-img-top blog-img" [alt]="blog.title">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ blog.title }}</h5>
            <span>{{blog.date}} / {{blog.author}}</span>
            <p class="card-text pt-4">{{ blog.content }}</p>
            <a [routerLink]="['/blogs', blog.id]" class="btn mt-auto text-uppercase btn-blog">continue reading</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loadMoreBlogs text-center mt-4" *ngIf="blogs.length < allBlogs.length">
    <button class="btn  text-uppercase" (click)="loadMore()">
      <span *ngIf="!loading">Load More</span>
      <span *ngIf="loading">Loading...</span>
    </button>
  </div>
</div>
<app-footer></app-footer>
